.header {
    background-color: lightgrey;
    padding: .3rem 0;
    // border-bottom: 1px solid var(--color-primary);
    // box-shadow: 0rem 0.25rem 1.5rem var(--color-grey-light-2) ;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90rem;
        margin: 0px auto;
        padding: 0 .5rem;

        @media all and (max-width:900px) {
            padding: 0 1rem;
        }

        .logo-container {
            h1 {
                font-weight: 1000;
                font-family: "Montserrat";
            }
        }    
        
    }
}



.burger {
    display: none;
    cursor: pointer;
    z-index: 9999;
    
    div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
        transition: all 0.6s ease-out;
    }
    @media all and (max-width:900px) {
        display: inline-block;
    }
    &--active {
        position: fixed;
    right:  0.5rem;
    top: 0rem;
    margin: 1.5rem;
        .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
            background-color: black;
        }
        .line2 {
            opacity: 0;
        }
        .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
            background-color: black;
        }
    }
}